<header>
  <div class="sp-navbar">
    <b>
      <a class="sp-navbar-item sp-item-left-1" href="#">Trang Chủ</a>
      <a class="sp-navbar-item sp-item-left-2" href="#">Sản Phẩm</a>
      <a class="sp-navbar-item sp-item-left-3" href="#">Thi Công</a>
      <img id="logo" src="/images/logos/yen-sao-quang-nam.png" class="sp-logo">
      <a class="sp-navbar-item sp-item-right-1" href="intro">Hướng dẫn</a>
      <a class="sp-navbar-item sp-item-right-2" href="intro">Tin tức</a>
      <a class="sp-navbar-item sp-item-right-3" href="intro">Liên hệ</a>
    </b>
  </div>

  </div>
  <div class="d-flex justify-content-center">
    <div class="sp-navbar-bg">

    </div>

  </div>

  <img src="/images/projects/nha-yen-02.jpg" class="sp-banner-slide" id="banner-slide">
</header>