<nav class="navbar navbar-dark navbar-expand align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <ul class="nav navbar-nav text-light">
            <li class="nav-item" role="presentation">
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    <p class="mb-0">nội dung</p>
                </div>
                <a class="nav-link" href="/ad/dashboard"><i class="fas fa-tachometer-alt"></i>Trang Chủ</a>
                <a class="nav-link" href="/ad/listPost"><i class="fa fa-list-ul mr-2"></i>Danh Sách Bài
                    Viết</a>
                <a class="nav-link" href="/ad/listProduct"><i class="fa fa-list-ul mr-2"></i>Danh Sách Sản Phẩm</a>
                <a class="nav-link" href="/ad/listOrder"><i class="fa fa-list-ul mr-2"></i>Danh Sách đơn hàng</a>

            </li>
            <li class="nav-item" role="presentation">
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    <p class="mb-0">tùy chỉnh</p>
                </div><a class="nav-link" href="/logout"><i class="fa fa-sign-out mr-2"></i>Đăng Xuất</a>
            </li>
            <li class="nav-item" role="presentation"></li>
            <li class="nav-item" role="presentation"></li>
        </ul>
    </div>
</nav>