<p>Nếu phần biệt dòng Bạch Yến (thô) theo khối lượng, thì ta có thể chia Yến Sào ra thành các loại dưới đây</p>
<ul>
    <li><b>Yến Quan (10g - 20g) ~ Yến Nhà Công Nghệ Đá Loại Đặc Biệt</b></li>
    <li><b>Yến Thiên (8g - 10g) ~ Yến Nhà Công Nghệ Đá Loại 1</b></li>
    <li>Yến Bài (nhỏ hơn 6g - 7g)</li>
    <li>Yến Địa (Nằm dưới cùng của vách núi, đen, bẩn)</li>
    <li>Yến Vụn (tổ bị vỡ do khai thác hoặc vận chuyển)</li>
</ul>
<p>Yến Sào Đất Quảng cung cấp hai loại là Yến Quan và Yến Thiên trong dòng Bạch Yến. Bao gồm các dạng thô, sơ chế, tươi,
    chưng sẵn,...</p>