<!DOCTYPE html>
<html lang="vi">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="wrapper">
        <% include ../partials/sidebar %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="pt-4">
                <div class="container-fluid">
                    <form action="/ad/dashboard/createProduct" method="post" enctype="multipart/form-data">
                        <div class="card mb-4">
                            <div class="card-header">
                                <button class="btn btn-success btn-icon-split" id="themSanPham" type="submit"><span
                                        class="text-white-50 icon"><i class="fas fa-check"></i></span><span
                                        class="text-white text">Lưu sản phẩm và tiếp tục chỉnh sửa chi
                                        tiết</span></button>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text">Chọn hình ảnh</span>
                                    </div>
                                    <div class="custom-file">
                                        <input required type="file" class="ml-3" name="upload" multiple></div>
                                </div>
                                <input required class="form-control form-control-sm mb-3" type="text"
                                    placeholder="Nhập tên sản phẩm" name="name">
                                <input required class="form-control form-control-sm mb-3" type="number"
                                    placeholder="Nhập giá" name="price">
                            </div>
                        </div>
                    </form>
                    <form action="/ad/dashboard/createPost" method="post" enctype="multipart/form-data">

                        <div class="card mb-4">
                            <div class="card-header">
                                <button class="btn btn-success btn-icon-split" id="themSanPham" type="submit"><span
                                        class="text-white-50 icon"><i class="fas fa-check"></i></span><span
                                        class="text-white text">Lưu bài viết và tiếp tục chỉnh sửa chi
                                        tiết</span></button>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text">Chọn hình ảnh</span>
                                    </div>
                                    <div class="custom-file">
                                        <input required type="file" class="ml-3" name="upload"></div>
                                </div>
                                <input required class="form-control form-control-sm mb-3" type="text"
                                    placeholder="Nhập tên bài viết" name="name">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <nav class="navbar navbar-dark align-items-start sidebar-dark bg-gradient-primary p-3" id="relational">
            <div class="container-fluid d-flex flex-column p-0">
                <div style="width: 200px;">
                    <div class="card" style="width: auto;">
                        <div class="card-header">
                            <form
                                class="form-inline d-none d-sm-inline-block mr-auto my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                                        placeholder="Thêm">
                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                            type="button"><i class="fas fa-plus"></i></button></div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body overflow-auto relationalOption">
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                            <div class="form-check"><input class="form-check-input" type="checkbox"
                                    id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <a class="btn btn-success btn-circle ml-1" role="button" id="relationalButton"><i
                class="fas fa-align-justify text-white"></i></a> -->
    </div>
    <% include ../partials/script%>
</body>

</html>