<!DOCTYPE html>
<html lang="vi">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <div class="d-flex align-items-center align-content-center" style="height: 100vh;">
            <div class="m-auto">
                <h5 class="text-warning text-uppercase mb-3">
                    Bạn chưa đăng nhập
                </h5>

                <a href="/ad/login" class="btn btn-primary btn-block text-white btn-user"> Đăng Nhập</a>
            </div>
        </div>
    </div>
    <% include ../partials/script%>
</body>

</html>