<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="wrapper">
        <% include ../partials/sidebar %>
        <div class="d-flex flex-column" id="content-wrapper">
            <form action="/ad/upload" method="get" enctype="multipart/form-data">
                <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><button class="btn btn-success btn-icon-split" id="themSanPham" type="submit"><span class="text-white-50 icon"><i class="fas fa-check"></i></span><span class="text-white text">Thêm Sản Phẩm</span></button></div>
                    </nav>
                    <div class="container-fluid">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text">Chọn Hình Ảnh</span></div>
                                    <div class="custom-file"><input type="file" class="ml-3" name="upload"></div>
                                </div><input class="form-control form-control-sm mb-3" type="text" placeholder="Nhập Tên Sản Phẩm" name="name"><input class="form-control form-control-sm" type="number" placeholder="Nhập Giá Sản Phẩm" name="price"></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div id="toolbar"></div>
                                <div id="editor"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <nav class="navbar navbar-dark align-items-start sidebar-dark bg-gradient-primary p-3" id="relational">
            <div class="container-fluid d-flex flex-column p-0">
                <div style="width: 200px;">
                    <div class="card" style="width: auto;">
                        <div class="card-header">
                            <form class="form-inline d-none d-sm-inline-block mr-auto my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Thêm">
                                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-plus"></i></button></div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body overflow-auto relationalOption">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Label</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav><a class="btn btn-success btn-circle ml-1" role="button" id="relationalButton"><i class="fas fa-align-justify text-white"></i></a></div>
    <% include ../partials/script%>
</body>

</html>