<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <div class="d-flex align-items-center mainContructBanner mt-5" data-bs-parallax-bg="true"
        style="background-image: url(&quot;assets/img/IMG_0211.JPG&quot;);background-position: top;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h1 class="display-4 textColor contstrucText">Xây Dựng Nhà Yến</h1>
                    <h1 class="text-white">Cam Kết Thành Công Theo Hợp Đồng</h1>
                    <h3 class="text-white">Mr. Long: 0973 799 915</h3>
                    <div class="input-group">
                        <div class="input-group-append"></div>
                    </div>
                </div>
                <div class="col">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <section data-aos="fade-up" class="py-5" style="background-color: #f4f7f7;">
            <div class="container">
                <h3 class="text-center textColor pb-5 pt-2"><strong>Cung Cấp Sản Phẩm &amp; Tư Vấn Thi Công Nhà
                        Yến</strong><br></h3>
                <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex align-items-center">
                        <div>
                            <p>Nếu phần biệt dòng Bạch Yến (thô) theo khối lượng, thì ta có thể chia Yến Sào ra thành
                                các loại dưới đây<br></p>
                            <ul>
                                <li><strong>Yến Quan (10g - 20g) ~ Yến Nhà Công Nghệ Đá Loại Đặc Biệt</strong><br></li>
                                <li><strong>Yến Thiên (8g - 10g) ~ Yến Nhà Công Nghệ Đá Loại 1</strong><br></li>
                                <li>Yến Bài (nhỏ hơn 6g - 7g)<br></li>
                                <li>Yến Địa (Nằm dưới cùng của vách núi, đen, bẩn)<br></li>
                                <li>Yến Vụn (tổ bị vỡ do khai thác hoặc vận chuyển)<br></li>
                            </ul>
                            <p>Yến Sào Đất Quảng cung cấp hai loại là Yến Quan và Yến Thiên trong dòng Bạch Yến. Bao gồm
                                các dạng thô, sơ chế, tươi, chưng sẵn,...<br></p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/WZ8GlVDt62M"></iframe></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <section data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="demon pb-4">
                            <div class="text-center"><img class="mb-2" style="width: 50px;"
                                    src="assets/img/Logo_Nau.png">
                                <h5>Nguồn Gốc Tổ Yến</h5>
                                <p class="text-justify">khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào
                                    Đất Quảng....<br></p>
                            </div><img data-bs-hover-animate="bounce" class="w-100"
                                src="assets/img/nguon-goc-to-yen.jpg">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="demon pb-4">
                            <div class="text-center"><img class="mb-2" style="width: 50px;"
                                    src="assets/img/Logo_Nau.png">
                                <h5>Nguồn Gốc Tổ Yến</h5>
                                <p class="text-justify">khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào
                                    Đất Quảng....<br></p>
                            </div><img data-bs-hover-animate="bounce" class="w-100" src="assets/img/gia-cong.jpg">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="demon pb-4">
                            <div class="text-center"><img class="mb-2" style="width: 50px;"
                                    src="assets/img/Logo_Nau.png">
                                <h5>Nguồn Gốc Tổ Yến</h5>
                                <p class="text-justify">khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào
                                    Đất Quảng....<br></p>
                            </div><img data-bs-hover-animate="bounce" class="w-100" src="assets/img/giao-hang.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>

    <% include ../partials/script%>
</body>

</html>