<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <div class="d-flex align-items-center mainContructBanner mt-5" data-bs-parallax-bg="true"
        style="background-image: url(&quot;assets/img/IMG_0211.JPG&quot;);background-position: top;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h1 class="display-4 textColor contstrucText">Xây Dựng Nhà Yến</h1>
                    <h1 class="text-white">Cam Kết Thành Công Theo Hợp Đồng</h1>
                    <h3 class="text-white">Mr. Long: 0973 799 915</h3>
                    <div class="input-group">
                        <div class="input-group-append"></div>
                    </div>
                </div>
                <div class="col">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <% include ../partials/thi-cong %>

        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/cam-ket %>

        <% include ../partials/reviewblog %>

    </main>
    <% include ../partials/footer %>

    <% include ../partials/script%>
</body>

</html>