
<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %><img class="w-100" src="assets/img/gia-cong-1.jpg">
    <main class="mainContent" style="margin-top: -118px;">
        <section class="mb-5">
            <div class="container">
                <div class="bg-white border-white shadow shortintro p-3">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/0rpHzrymKds"></iframe></div>
                        </div>
                        <div class="col-sm-12 col-lg-6 d-flex align-items-center">
                            <div>
                                <div class="text-center"></div>
                                <h3 class="text-center textColor my-4 pb-2">&nbsp;Cam Kết Chất Lượng</h3>
                                <hr>
                                <ul>
                                    <li>Tổ Yến Trên Đá Tự Nhiên Được Làm Sạch Thủ Công<br></li>
                                    <li>Yến Sơ Chế 100% nguyên chất và làm theo loại mà khách hàng yêu cầu. Hoàn toàn
                                        không có các thành phần khác.<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/cam-ket %>
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/thi-cong %>
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <%include ../partials/product %>
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/reviewblog %> 
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>