<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <meta name="description" content="Tổ Yến Trên Đá Tự Nhiên Được Làm Sạch Thủ Công. Khai Thác Từ Hệ Thống Hang Nhân Tạo Của Yến Sào Đất Quảng" />
    <meta name="keywords" content="yen sao dat quang, yen sao, yen, yen sao quang nam, yen quang nam, to yen tho, yen tho, to yen tho quang nam" />
    <title>Yến Sào Đất Quảng | Nam Hội An</title>
</head>

<body>
    <% include ../partials/menu %>
    <img class="w-100" src="/assets/img/gia-cong-1.jpg">
    <main class="mainContent" style="margin-top: -118px;">
        <% include ../partials/gioi-thieu %>
        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/cam-ket %>
        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/thi-cong %>
        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <%include ../partials/product %>
        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/reviewblog %>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>