<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <main class="mt-5 pt-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-6 col-lg-7"><img class="w-100" src="assets/img/YSDQ%20274.JPG"></div>
                            <div class="col-md-6 col-lg-5 d-flex align-items-center">
                                <div>
                                    <h3 class="textColor">Yến Hủ Sấy Khô</h3>
                                    <hr>
                                    <p>Paragraph</p>
                                </div>
                            </div>
                        </div>
                        <div class="my-4 p-2">
                            <div class="text-center my-4"><img style="width: 150px;" src="assets/img/divider.png"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <h3 class="text-center textColor">Danh Mục</h3>
                        <div class="text-center my-4"><img style="width: 150px;" src="assets/img/divider.png"></div>
                        <div class="list-group mb-3"><a
                                class="list-group-item list-group-item-action border rounded-0"><span>List Group Item
                                    3</span></a><a
                                class="list-group-item list-group-item-action border rounded-0"><span>List Group Item
                                    3</span></a><a
                                class="list-group-item list-group-item-action border rounded-0"><span>List Group Item
                                    3</span></a></div>
                        <h3 class="text-center textColor">Bài Viết Khác</h3>
                        <div class="text-center my-4"><img style="width: 150px;" src="assets/img/divider.png"></div>
                        <a href="#">
                            <div class="mb-3"
                                style="background-image: url(&quot;assets/img/IMG_0211.JPG&quot;);background-size: cover;">
                                <div class="p-5" style="background-color: rgba(0,0,0,0.5);">
                                    <h6 class="text-center text-white">Heading</h6>
                                    <p class="text-center text-white">Paragraph</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>