<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>Tin Tức | Yến Sào Đất Quảng</title>
</head>

<body>
    <% include ../partials/menu %>
    <main class="mt-5">
        <section class="mt-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
                        <nav class="navbar navbar-light navbar-expand-md p-0 mb-4">
                            <div class="container-fluid"><button data-toggle="collapse"
                                    class="navbar-toggler w-100 py-2" data-target="#category-collapse"><span class="textColor">Danh
                                        Mục</span></button>
                                <div class="collapse navbar-collapse"id="category-collapse">
                                    <div class="w-100">
                                        <div class="text-center my-4"><img style="width: 150px;"
                                                src="/assets/img/divider.png"></div>
                                        <% include ../partials/category %>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col">
                        <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png"></div>
                        <%posts.forEach(post => {%>
                        <a href="<%=post.url%>">
                            <div class="row mb-3">
                                <div class="col-4 col-xl-4 d-flex d-md-flex align-items-center align-items-md-center">
                                    <img class="w-100" src="<%=post.images[0]%>"></div>
				<div class="col-8 d-flex align-items-center text-justify">

					<div>
                                    	<h6 class="textColor"><%=post.name%></h6>
                                  	<p><%=post.description%></p>
					</div>
				</div>
                            </div>
                        </a>

                        <hr>

                        <%})%>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>
