<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <main class="mt-5">
        <section class="mt-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
                        <nav class="navbar navbar-light navbar-expand-md p-0 mb-4">
                            <div class="container-fluid"><button data-toggle="collapse"
                                    class="navbar-toggler w-100 py-2" data-target="#"><span class="textColor">Danh
                                        Mục</span></button>
                                <div class="collapse navbar-collapse">
                                    <div class="w-100">
                                        <div class="text-center my-4"><img style="width: 150px;"
                                                src="assets/img/divider.png"></div>
                                        <div class="list-group"><a
                                                class="list-group-item list-group-item-action border rounded-0"><span>List
                                                    Group Item 3</span></a><a
                                                class="list-group-item list-group-item-action border rounded-0"><span>List
                                                    Group Item 3</span></a><a
                                                class="list-group-item list-group-item-action border rounded-0"><span>List
                                                    Group Item 3</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col">
                        <div class="text-center my-4"><img style="width: 150px;" src="assets/img/divider.png"></div>
                        <div class="row">
                            <div class="col-4 col-xl-4 d-flex d-md-flex align-items-center align-items-md-center"><img
                                    class="w-100" src="assets/img/IMG_0211.JPG"></div>
                            <div class="col-8">
                                <h6 class="textColor">Hướng Dẫn Xây Nhà Nuôi Yến</h6>
                                <p>Tóm tắt</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>