#relational {
  position: fixed;
  height: 100vh;
  z-index: 90;
  right: 0px;
  font-weight: 800;
  color: hsla(0, 0%, 100%, .4);
  display: none;
}

.nav-heading {
  font-size: .65rem;
}

.addAttribute {
  cursor: pointer;
}
.deleteAttribute {
  cursor: pointer;
}

.removeAttribute {
  cursor: pointer;
}

#relationalButton {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 99;
}

.bg-white.border.rounded-circle.logo {
  height: 3rem;
}

#editor {
  border: none;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  min-height: 50vh;
}

#mainLogin {
  height: 100vh;
}

#loginForm {
  min-width: 300px;
}

.card-body.overflow-auto.relationalOption {
  height: 200px;
}

.cursor {
  cursor: pointer;
}