.nav-item {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  margin: none;
}

:root {
  --myColor: brown;
}

.textColor {
  color: var(--myColor) !important;
}

.shortintro {
  border-radius: 20px;
}

mainBanner {
  position: initial;
  z-index: -1;
}

.mainContent {
  position: relative;
  z-index: 9;
  margin-top: -5vh;
}

.demon {
  border-bottom: 2px solid brown;
}

