<style>
  .footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
  }

  .footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }

  .footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }

  .footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }

  .footer-clean ul a:hover {
    opacity: 1;
  }

  .footer-clean .item.social {
    text-align: right;
  }

  @media (max-width: 767px) {
    .footer-clean .item {
      text-align: center;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align: center;
    }
  }

  .footer-clean .item.social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
  }

  .footer-clean .item.social > a:hover {
    opacity: 0.9;
  }

  @media (max-width: 991px) {
    .footer-clean .item.social > a {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    .footer-clean .item.social > a {
      margin-top: 10px;
    }
  }

  .footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
  }

  .mainContructBanner {
    height: 75vh;
    overflow: auto;
  }

  .contstrucText {
    font-weight: 800;
  }
</style>
<div class="shadow footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 item">
          <h3 class="textColor">Thông Tin Liên Hệ</h3>
          <ul>
            <li>
              <strong>Công ty TNHH MTV Yến Sào Đất Quảng</strong>&nbsp;<br />
            </li>
            <li>
              <strong>&nbsp;Địa chỉ:&nbsp;</strong>thôn Trà Đóa, xã Bình Đào,
              huyện Thăng bình, tỉnh Quảng Nam, Việt Nam.&nbsp;<br />
            </li>

            <li><strong>MST:&nbsp;</strong>4001040242&nbsp;<br /></li>
            <li>
              <strong>Email:&nbsp;</strong>LongYen@YenSaoDatQuang.vn&nbsp;<br />
            </li>
            <li>
              <strong>Sản Phẩm:&nbsp;</strong
              ><br />0914758179<br />fb.com/yensaodatquang.vn&nbsp;<br />
            </li>
            <li>
              <strong>Thi Công:&nbsp;</strong
              ><br />0973799915<br />fb.com/thicong.yensaodatquang.vn&nbsp;&nbsp;<br />
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 item">
          <!-- <div class="fb-page" data-href="https://www.facebook.com/yensaodatquang.vn/" data-tabs="timeline"
                        data-width="" data-height="350" data-small-header="false" data-adapt-container-width="true"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/yensaodatquang.vn/" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/yensaodatquang.vn/">Yến Sào Đất Quảng Thương Hiệu Chính
                                Hãng</a></blockquote>
                    </div> -->
        </div>
        <div class="col-sm-12 col-md-4 item social">
          <!-- <iframe allowfullscreen="" frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXGFnQOFQrEhIIoNJHyyF_XwWNMbbq1Ow&amp;q=Y%E1%BA%BFn+S%C3%A0o+%C4%90%E1%BA%A5t+Qu%E1%BA%A3ng&amp;zoom=10"
                        width="100%" height="350"></iframe> -->
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- Your customer chat code -->
<div
  class="fb-customerchat"
  attribution="setup_tool"
  page_id="1627025060846047"
  logged_in_greeting="Nhắn tin liên hệ trực tiếp từ Facebook của bạn!"
  logged_out_greeting="Nhắn tin liên hệ trực tiếp từ Facebook của bạn!"
  theme_color="#a52a2a"
></div>
<!-- merry christmas -->
<div>
  <img
    style="position: fixed; left: 15px; bottom: 15px; z-index: 100; width: 300px;max-width: 50vw;"
    onclick="this.remove()"
    src=" https://seeklogo.com/images/H/happy-new-year-2020-logo-BC04E7FE7B-seeklogo.com.png"/>
</div>
