<div class="shadow footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4 item">
                    <h3 class="textColor">Thông Tin Liên Hệ</h3>
                    <ul>
                        <li><strong>Công ty TNHH MTV Yến Sào Đất Quảng</strong>&nbsp;<br></li>
                        <li><strong>&nbsp;Địa chỉ:&nbsp;</strong>thôn Trà Đóa, xã Bình Đào, huyện Thăng bình, tỉnh Quảng
                            Nam&nbsp;<br></li>
                        <li><strong>MST:&nbsp;</strong>4001040242&nbsp;<br></li>
                        <li><strong>Email:&nbsp;</strong>LongYen@YenSaoDatQuang.vn&nbsp;<br></li>
                        <li><strong>Sản Phẩm:&nbsp;</strong><br>0914758179<br>fb.com/yensaodatquang.vn&nbsp;<br></li>
                        <li><strong>Thi
                                Công:&nbsp;</strong><br>0973799915<br>fb.com/thicong.yensaodatquang.vn&nbsp;&nbsp;<br>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 item">
                    <div class="fb-page" data-href="https://www.facebook.com/yensaodatquang.vn/" data-tabs="timeline"
                        data-width="" data-height="350" data-small-header="false" data-adapt-container-width="true"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/yensaodatquang.vn/" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/yensaodatquang.vn/">Yến Sào Đất Quảng Thương Hiệu Chính
                                Hãng</a></blockquote>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 item social"><iframe allowfullscreen="" frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXGFnQOFQrEhIIoNJHyyF_XwWNMbbq1Ow&amp;q=Y%E1%BA%BFn+S%C3%A0o+%C4%90%E1%BA%A5t+Qu%E1%BA%A3ng&amp;zoom=10"
                        width="100%" height="350"></iframe></div>
            </div>
        </div>
    </footer>
</div>


<!-- Your customer chat code -->
<div class="fb-customerchat" attribution=setup_tool page_id="1627025060846047" logged_in_greeting="Nhắn tin liên hệ"
    logged_out_greeting="Nhắn tin liên hệ">
</div>