<section class="mb-5">
    <div class="container">
        <div class="bg-white border-white shadow shortintro p-3">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/0rpHzrymKds"></iframe></div>
                </div>
                <div class="col-sm-12 col-lg-6 d-flex align-items-center">
                    <div>
                        <div class="text-center"></div>
                        <h3 class="text-center textColor my-4 pb-2">&nbsp;Cam Kết Chất Lượng</h3>
                        <hr>
                        <ul>
                            <li>Tổ Yến Trên Đá Tự Nhiên Được Làm Sạch Thủ Công<br></li>
                            <li>Yến Sơ Chế 100% nguyên chất và làm theo loại mà khách hàng yêu cầu. Hoàn toàn
                                không có các thành phần khác.<br></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>