<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
	appId: 335701763968445,
	cookie: true,
            xfbml: true,
            version: 'v4.0'
        });
    FB.AppEvents.logPageView();   
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-light navbar-expand-md fixed-top bg-light shadow">
    <div class="container">
	<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
	<img class="m-2" style="width: 40px;" src="/assets/img/yensao.jpg">
        <div class="collapse navbar-collapse" id="navcol-1">
	<a class="navbar-brand textColor" href="/">
            <h5>Yến Sào Đất Quảng</h5>
        </a>

            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link text-center" href="/">TRANG CHỦ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-center" href="/san-pham">SẢN
                        PHẨM</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-center" href="/thi-cong">
                        THI CÔNG</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-center" href="/tin-tuc">TIN TỨC</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
