<section data-aos="fade-up" class="py-5" style="background-color: #f4f7f7;">
    <div class="container">
        <h3 class="text-center textColor pb-5 pt-2"><strong>Cung Cấp Sản Phẩm &amp; Tư Vấn Thi Công Nhà
                Yến</strong><br></h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <div>
                    <p>Nếu phần biệt dòng Bạch Yến (thô) theo khối lượng, thì ta có thể chia Yến Sào ra thành
                        các loại dưới đây<br></p>
                    <ul>
                        <li><strong>Yến Quan (10g - 20g) ~ Yến Nhà Công Nghệ Đá Loại Đặc Biệt</strong><br></li>
                        <li><strong>Yến Thiên (8g - 10g) ~ Yến Nhà Công Nghệ Đá Loại 1</strong><br></li>
                        <li>Yến Bài (nhỏ hơn 6g - 7g)<br></li>
                        <li>Yến Địa (Nằm dưới cùng của vách núi, đen, bẩn)<br></li>
                        <li>Yến Vụn (tổ bị vỡ do khai thác hoặc vận chuyển)<br></li>
                    </ul>
                    <p>Yến Sào Đất Quảng cung cấp hai loại là Yến Quan và Yến Thiên trong dòng Bạch Yến. Bao gồm
                        các dạng thô, sơ chế, tươi, chưng sẵn,...<br></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/WZ8GlVDt62M"></iframe></div>
            </div>
        </div>
    </div>
</section>