<!DOCTYPE html>
<html lang="vi">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <main class="mainContent pt-5">

        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <div class="container">
            <h1 class="display-4 text-center">
                Không tìm thấy trang bạn yêu cầu!
            </h1>
        </div>

        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/cam-ket %>

    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>