.circle-box {
  border-radius: 15px;
}

.project {
  min-height: 120px;
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.project:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.project-size {
  opacity: 0;
  visibility: hidden;
  max-height: 450px;
  /* position: relative; */
}

.project-content {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.project-content:hover {
  opacity: 1;
}

.project-box {
  text-decoration: none;
  color: white;
}

.project-box:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.project-img {
  position: absolute;
  z-index: -1;
}
