<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Yến Sào Đất Quảng</title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="sp-page" id="page">
        <div class="container">
            <section class="sp-intro" id="intro">
                <div class="row">
                    <div class="col-sm-6">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0rpHzrymKds"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-6">
                        <h4><b>Cam Kết Chất Lượng</b></h4>
                        <% include ../components/commitment.ejs%>
                    </div>
                </div>
            </section>
        </div>
        <section class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img class="icon-commiting" src="/images/logos/Logo_Nau.png">
                        <h5><b>Nguồn gốc tổ Yến</b></h5>
                        <p class="text-justify">
                            khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào Đất Quảng....
                        </p>
                        <img class="img-fluid" src="/images/products/nguon-goc-to-yen.jpg">


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <img class="icon-commiting" src="/images/logos/Logo_Nau.png">
                        <h5><b>Gia công tiêu chuẩn</b></h5>
                        <p class="text-justify">
                            Yến được rút lông thủ công theo tiêu chuẩn được cấp phép. Nguyên chất và sấy khô 100%....
                        </p>
                        <img class="img-fluid" src="/images/products/gia-cong.jpg">


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <img class="icon-commiting" src="/images/logos/Logo_Nau.png">
                        <h5><b>Giao Hàng Toàn Quốc</b></h5>
                        <p class="text-justify">
                            Hoàn tiền cho sản phẩm đã thanh toán, chịu phí đổi trả nếu khách hàng không hài lòng....
                        </p>
                        <img class="img-fluid" src="/images/products/giao-hang.jpg">


                    </div>
                </div>
            </div>
        </section>
        <section class="jumbotron">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <h4><b>Cung Cấp Sản Phẩm</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <h4><b>Tư Vấn Thi Công</b></h4>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="sp-bg">
                <img src="/images/products/to-yen-tren-da.jpg" class="sp-banner-slide" id="banner-slide">
            </div>
            <div class="sp-on-bg">
                Xin Chao
            </div>
        </section>

    </div>

    <footer>
        <div class="row">
            <div class="col-sm-6">
                <h4><b>Thông Tin Liên Hệ</b></h4>
                <% include ../components/contact.ejs%>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </footer>
</body>

</html>